# Modelling and evaluation

Explantion of what we are doing

### Importing modules

In [2]:
import pandas as pd
import numpy as np

,Unnamed: 0,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementGross,MIS_Status,Ratio
0,12,APEX,NC,27502,STEARNS BK NATL ASSOC,MN,44,7-Feb-06,2006,162,...,2,0,0,1,1,N,0,253400.0,1,0.75
1,24,LITTLE ROCK,AR,72223,HOPE FCU,MS,72,7-Feb-06,2006,126,...,1,0,0,0,1,N,0,137300.0,1,0.85
2,28,CAMARILLO,CA,93010,WELLS FARGO BANK NATL ASSOC,SD,61,7-Feb-06,2006,83,...,2,5,23,0,1,Y,0,438541.0,1,0.50
3,30,MIAMI,FL,33186,"CITIBANK, N.A.",FL,23,7-Feb-06,2006,84,...,1,0,4,0,1,Y,0,51440.0,1,0.50
4,32,NEW ORLEANS,LA,70130,BUSINESS RES. CAP. SPECIALTY B,LA,53,7-Feb-06,2006,60,...,1,0,0,0,1,N,0,50000.0,1,0.85

### Importing data

In [3]:
df = pd.read_csv('ProcessedData.csv', sep=",")
df.head(5)

,Unnamed: 0,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementGross,MIS_Status,Ratio
0,12,APEX,NC,27502,STEARNS BK NATL ASSOC,MN,44,7-Feb-06,2006,162,...,2,0,0,1,1,N,0,253400.0,1,0.75
1,24,LITTLE ROCK,AR,72223,HOPE FCU,MS,72,7-Feb-06,2006,126,...,1,0,0,0,1,N,0,137300.0,1,0.85
2,28,CAMARILLO,CA,93010,WELLS FARGO BANK NATL ASSOC,SD,61,7-Feb-06,2006,83,...,2,5,23,0,1,Y,0,438541.0,1,0.50
3,30,MIAMI,FL,33186,"CITIBANK, N.A.",FL,23,7-Feb-06,2006,84,...,1,0,4,0,1,Y,0,51440.0,1,0.50
4,32,NEW ORLEANS,LA,70130,BUSINESS RES. CAP. SPECIALTY B,LA,53,7-Feb-06,2006,60,...,1,0,0,0,1,N,0,50000.0,1,0.85

### Establish baseline