# Modelling and evaluation

Explantion of what we are doing

### Importing modules

In [11]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.dummy import DummyClassifier

from imblearn.over_sampling import SMOTE 


# Models for classification
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

### Importing data

In [12]:
df = pd.read_csv('PreProcessedData.csv', sep=",")

df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534147 entries, 0 to 534146
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         534147 non-null  int64
 1   State              534147 non-null  int64
 2   Zip                534147 non-null  int64
 3   NAICS              534147 non-null  int64
 4   ApprovalFY         534147 non-null  int64
 5   Term               534147 non-null  int64
 6   NoEmp              534147 non-null  int64
 7   NewExist           534147 non-null  int64
 8   CreateJob          534147 non-null  int64
 9   RetainedJob        534147 non-null  int64
 10  FranchiseCode      534147 non-null  int64
 11  UrbanRural         534147 non-null  int64
 12  LowDoc             534147 non-null  int64
 13  DisbursementGross  534147 non-null  float64
 14  MIS_Status         534147 non-null  int64
 15  GrAppv             534147 non-null  float64
 16  Ratio              534147 non-null  float64
dtypes: float64(3), int64(14)
memory usage: 69.3 MB

,Unnamed: 0,State,Zip,NAICS,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,LowDoc,DisbursementGross,MIS_Status,GrAppv,Ratio
0,12,27,27502,44,2006,162,2,2,0,0,1,1,0,253400.0,1,253400.0,0.75
1,24,2,72223,72,2006,126,7,1,0,0,0,1,0,137300.0,1,137300.0,0.85
2,28,4,93010,61,2006,83,18,2,5,23,0,1,0,438541.0,1,100000.0,0.50
3,30,9,33186,23,2006,84,4,1,0,4,0,1,0,51440.0,1,35000.0,0.50
4,32,18,70130,53,2006,60,3,1,0,0,0,1,0,50000.0,1,50000.0,0.85

### Establish baseline

In [13]:
X = df[['State','Zip','NAICS','Term','NoEmp','NewExist','CreateJob','RetainedJob','FranchiseCode','UrbanRural','LowDoc','DisbursementGross','GrAppv','Ratio']]

y = df['MIS_Status']

X.columns

Index(['State', 'Zip', 'NAICS', 'Term', 'NoEmp', 'NewExist', 'CreateJob',
       'RetainedJob', 'FranchiseCode', 'UrbanRural', 'LowDoc',
       'DisbursementGross', 'GrAppv', 'Ratio'],
      dtype='object')

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

print(X_train.shape, y_train.shape,X_test.shape, y_test.shape)

(400610, 14) (400610,) (133537, 14) (133537,)

In [15]:
sum(y)/len(y)*100

75.59005292550552

In [16]:
#EVT. CUT DENNE DEL UD HVIS DET IKKE GIVER MENING
dummy = DummyClassifier()
dummy.fit(X_train, y_train)
dummy_y_pred = dummy.predict(X_test)

print("Score: {:.3f}".format(dummy.score(X_train, y_train)))
print("Score: {:.3f}".format(dummy.score(X_test, y_test)))

Score: 0.756
Score: 0.756

In [17]:
#EVT. CONFUSION MATRIX PÅ BAGGRUND AF DUMMY
#cm = confusion_matrix(y_test, dum_y_pred)
#print(cm)

In [18]:
sm = SMOTE(random_state=42)
X_SMOTE, y_SMOTE = sm.fit_resample(X, y)

sum(y_SMOTE)/len(y_SMOTE)

0.5

In [19]:
#New test and train set after SMOTE
X_train, X_test, y_train, y_test = train_test_split(X_SMOTE, y_SMOTE, random_state=42)

print("Xtrain", X_train.shape, "y_train", 
      y_train.shape, "X_test", X_test.shape, "y_test", y_test.shape)

Xtrain (605643, 14) y_train (605643,) X_test (201881, 14) y_test (201881,)

In [20]:
#Try dummy test again after SMOTE
dummy = DummyClassifier()
dummy.fit(X_train, y_train)
dummy_y_pred = dummy.predict(X_test)

print("Score: {:.3f}".format(dummy.score(X_train, y_train)))
print("Score: {:.3f}".format(dummy.score(X_test, y_test)))

Score: 0.500
Score: 0.499

# CLASSIFIERS (MODELS)

Explanation of process and procedure

### Logistic Regression

In [21]:
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

#For evaluating later
LogReg_y_prediction = LogReg.predict(X_test)

#Scores
print("Score: {:.3f}".format(LogReg.score(X_train, y_train)))
print("Score: {:.3f}".format(LogReg.score(X_test, y_test)))

Score: 0.748
Score: 0.746

In [24]:
#print coefficient
coefficient = LogReg.coef_
print(coefficient)

odds = np.exp(coefficient)
odds

[[-7.05573732e-03 -1.14832259e-05 -2.10015794e-02  2.91845995e-02
   2.35092804e-03 -2.55596086e-04 -7.27573572e-05  5.64189281e-04
   4.95476302e-05 -2.17059012e-04  1.06183085e-04  8.82277275e-07
  -2.72085933e-06 -2.23824461e-04]]

array([[0.9929691 , 0.99998852, 0.97921742, 1.02961464, 1.00235369,
        0.99974444, 0.99992725, 1.00056435, 1.00004955, 0.99978296,
        1.00010619, 1.00000088, 0.99999728, 0.9997762 ]])

DO THIS --> Apply either Grid search, Cross validation, KNN and/or random forrest classifier